<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <div class="f-info-brand">&copy; Travel World Private Limited</div>
    <div class="f-info-terms"><a href="">privacy</a> <a href="">terms</a></div>
    <div class="f-info-social">&star;</div>
  </div>
</footer>
